---
title: "Estate Planning Attorney Myrtle Beach | Bespoke Estate Law"
description: "Bespoke Estate Law serves Myrtle Beach and the surrounding areas with strategic estate planning services. Free consultation - wills, trust formation, probate and more."
permalink: 'myrtle-beach/'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/interior.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1401">
        <div class="cs-container">
            <span class="cs-int-title">Estate Planning</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/myrtle-beach" class="cs-link cs-active">Myrtle Beach</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" alt="people laughing" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>

    <section id="content-page-1401">
        <div class="cs-container">
            <div class="cs-image-group">
                <div class="cs-flex">
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer2.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer2.jpg" alt="people" width="542" height="728">
                    </picture>
                    <div class="cs-box">
                        <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                        <span class="cs-desc">
                        We’ve Over 26 Years of Experience
                    </span>
                    </div>
                </div>
            </div>
            <div class="cs-content">
                <h1 class="cs-title">Estate Planning Attorney in Myrtle Beach, SC</h1>
                <p>
                    <i>Strategically Plan For Your Future Under the Guidance of an Experienced Attorney</i>
                </p>
                <p>
                    Bespoke Estate Law is a boutique law firm serving South Carolina residents and their families. Led by attorney Matthew Hurst, the firm provides trust formation services, wills, elder law support, probate, and other legal services. Whether you are about to become a parent for the first time, are ready to retire from your business, or need to designate how to distribute your wealth, contact us for a free consultation. We have helped hundreds of people like you, and we want you to enjoy a secure and tax-efficient future. 
                </p>

                <h2>You’re Never Too Young To Start Planning Your Estate</h2>
                <p>Estate planning matters for adults of all stages of life and economic means – you don’t need to be wealthy and elderly to benefit from an estate planning attorney. For young professionals, it’s about establishing a solid foundation that protects assets and outlines your personal wishes. This may include drafting a basic will or setting up a durable power of attorney to manage affairs in case of extenuating circumstances. Perhaps more importantly, this is an opportunity to establish a relationship with an estate planning firm that you trust early in your career.</p>

                <h3>Our Services Are Personalized To Your Needs</h3>
                <p>Estate planning is deeply personal. Your unique estate plan will reflect your family dynamics, financial situation, preferences, and even your personality. While we have helped many high net worth individuals secure complex estate plans, it’s a common misconception that only the wealthy require such efforts; in reality, anyone can benefit from articulating their plans and providing for their loved ones.</p>
                <p>For couples begin having children, they often start to think about the well-being of their kids. Parents may choose to set up trusts to ensure financial stability for their children and appoint guardians to take care of them if an unforeseen tragedy occurs. You will sleep better at night knowing that your children are in good hands regardless of what may happen to you.</p>
                <p>As you progress through life, your estate planning needs may include managing retirement funds, planning for long-term care needs, and minimizing tax burdens as your estate is passed on in the future. Bespoke Estate Law is experienced in the creation of specialized trusts for a variety of needs, and we would be happy to provide a free consultation.</p>
                <p>We also help senior citizens simplify their estates, preserve wealth for the next generation, and even donate to charitable causes in a strategic way. From drafting advanced healthcare directives to creating living wills that dictate medical care preferences in later stages of life, we will use our experience to make sure that you are well taken care of even as your capacity to make challenging decisions diminishes.</p>
                <p>Every example, a young single person may primarily need a will and healthcare directives. On the other hand, someone with a complex family situation might need a detailed trust to ensure their blended family is treated fairly. </p>

                <h3>Don’t Risk Your Future With DIY Estate Planning</h3>
                <p>Creating your own estate plan using generic, downloadable online documents can be risky. Free resources may not reflect the latest legal changes, fail to address your specific circumstances, and can potentially cause disputes or lawsuits among your heirs. By planning for all eventualities the right way, you are caring for your spouse, children, and other beneficiaries as well as you can.</p>

                <h2>What Does Estate Planning Entail?</h2>
                <h3>Will Formation</h3>
                <p>Call Bespoke Estate law for help writing a will that is clear, legally compliant within the state of South Carolina, and written, signed, and witnessed by at least two individuals. Don’t leave the future of your estate to chance or the whims of legal challenges. This document will include where your assets are distributed, and it can even appoint a guardian for your minor children. </p>

                <h3>Trust Formation</h3>
                <p>South Carolina residents may choose from many types of trusts, depending on their needs. These include special needs trusts, marital trusts, charitable trusts and more. You have many tools at your disposal that will help your protect your assets and distribute them responsibility, and we are here to help you choose the right trust or other vehicle for your estate.</p>

                <h3>Elder Law</h3>
                <p>This aspect of estate planning focuses on the needs of older adults, addressing issues such as Medicare planning, elder abuse, and competency concerns. It guarantees that seniors have their legal, financial, and health needs appropriately managed as they age. We have helped many clients plan for their own future as they age, and we can provide caring and insightful planning services to you that are rooted in our experience.</p>

                <h3>Avoiding Probate</h3>
                <p>Strategies like the creation of revocable living trusts, naming beneficiaries on retirement and bank accounts, or establishing joint ownership can help bypass the probate process. Don’t leave your heirs fighting amongst themselves – call us for a free consultation regarding your estate today.</p>

                <h3>Caring For Your Loved Ones After Worst-Case Scenarios</h3>
                <p>It’s your responsibility to establish legal frameworks, such as conservatorships and guardianships, to protect your loved ones in case of a disaster. You can also call us regarding the creation of powers of attorney and HIPAA authorizations to handle financial and health decisions, respectively. Also consider health care proxies to make medical decisions, and living wills to express wishes regarding end-of-life care and organ donation.</p>

                <h3>Business Succession Planning</h3>
                <p>If you’re planning to retire and leave your business to certain leadership within your team, we would be happy to speak with you about responsible succession planning. You want to make sure the business is left in good hands, continues to provide jobs for valuable employees, and has defense mechanisms against irresponsible handling of funds.</p>

                <h2>We Keep Your Estate Plan Up To Date</h2>
                <p>Life is full of changes, and your estate plan should evolve accordingly. Whether it’s the birth of a child, a change in marital status, or the onset of unexpected health issues, we may recommend making changes to your estate plan. Bespoke Estate Law will work closely with you to review and revise your documents and ensure they continuously reflect your current situation and future goals.</p>

                <h2>Call Our Myrtle Beach Estate Planning Lawyers Today For a Free Consultation</h2>
                <p>We help clients in Myrtle Beach, Surfside Beach, North Myrtle, Georgetown, and throughout the state of South Carolina. Whether you have amassed a significant estate with real estate holdings and businesses, or are a young family seeking a living will, please contact us at your earliest convenience. We would be happy to discuss your needs and provide options and recommendations for your situation.</p>

            </div>
        </div>
    </section>
{% endblock %}