---
title: "Beskpoke Estate Law | Family Lawyers | Myrtle Beach, SC"
description: "We provide personalized estate planning, business law services, and trust administration to give you peace of mind and a secure future. "
permalink: '/'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Hero                       -->
    <!-- ============================================ -->

    <section id="hero-288">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Enjoy a Secure, Bright Future</span>
                <h1 class="cs-title">Call Bespoke Estate Law</h1>
                <p class="cs-text">
                    We provide personalized estate planning, business law services, and trust administration to give you peace of mind and a secure future. Trust a law firm that has helped hundreds of clients enjoy a bright future - Call for your consultation today.
                </p>
                <a href="" class="cs-button-solid">Make An Appointment</a>
                <ul class="cs-stats-group">
                    <li class="cs-item">
                        <span class="cs-number">15+</span>
                        <span class="cs-desc">Years Experience</span>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">850+</span>
                        <span class="cs-desc">Happy Clients</span>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">100%</span>
                        <span class="cs-desc">Satisfaction</span>
                    </li>
                </ul>
            </div>
            <!--Hero Image-->
            <picture class="cs-picture">
                <source media="(max-width: 1024px)" srcset="/assets/images/landing-m.webp">
                <source media="(min-width: 1025px)" srcset="/assets/images/landing.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="lawyer" width="630" height="814">
            </picture>
            <!--Green Waves-->
            <picture class="cs-waves">
                <source media="(min-width: 1024px)" srcset="/assets/svgs/waves.svg">
                <source media="(min-width: 601px)" srcset="/assets/svgs/waves-t.svg">
                <source media="(max-width: 600px)" srcset="/assets/svgs/waves-m.svg">
                <img decoding="async" src="/assets/svgs/waves.svg" alt="waves" width="645" height="1080" aria-hidden="true">
            </picture>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-296">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Bespoke Estate Law: Tailored Legal Solutions for Your Unique Needs</h2>
                <p class="cs-text">
                    Whether you require assistance with creating a comprehensive estate plan, establishing a new business, drafting or reviewing contracts, or navigating the complexities of probate and trust administration, Bespoke Estate Law is here to provide the expert guidance and support you need.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <img class="cs-icon" src="/assets/svgs/s1.svg" alt="icon" width="48" height="48" loading="lazy" decoding="async" aria-hidden="true">
                        <h3 class="cs-h3">Estate Planning</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                    <picture class="cs-image"  aria-hidden="true">
                        <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                        <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/service-bg.jpg" alt="library" width="413" height="266">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <img class="cs-icon" src="/assets/svgs/s2.svg" alt="icon" width="48" height="48" loading="lazy" decoding="async" aria-hidden="true">
                        <h3 class="cs-h3">Business Law</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                    <picture class="cs-image"  aria-hidden="true">
                        <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                        <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/service-bg.jpg" alt="library" width="413" height="266">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <img class="cs-icon" src="/assets/svgs/s3.svg" alt="icon" width="48" height="48" loading="lazy" decoding="async" aria-hidden="true">
                        <h3 class="cs-h3">Contract Law</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                    <picture class="cs-image"  aria-hidden="true">
                        <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                        <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/service-bg.jpg" alt="library" width="413" height="266">
                    </picture>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <img class="cs-icon" src="/assets/svgs/s4.svg" alt="icon" width="48" height="48" loading="lazy" decoding="async" aria-hidden="true">
                        <h3 class="cs-h3">Probate & Trust Administration</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                    <picture class="cs-image">
                        <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                        <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/service-bg.jpg" alt="library" width="413" height="266" aria-hidden="true">
                    </picture>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Make An Appointment</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-311">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 1024px)" srcset="/assets/images/about1.jpg">
                    <source media="(min-width: 1025px)" srcset="/assets/images/about1-m.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/about1.jpg" alt="lawyers" width="522" height="581" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 1024px)" srcset="/assets/images/about2.jpg">
                    <source media="(min-width: 1025px)" srcset="/assets/images/about2-m.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/about2.jpg" alt="gavel" width="414" height="400" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Bespoke Estate Law</span>
                <h2 class="cs-title">Experienced Estate & Trust Attorneys</h2>
                <p class="cs-text">
                    Bespoke Estate Law is a leading law firm that specializes in providing comprehensive estate planning, business law, contract law, and probate & trust administration services to clients in the Myrtle Beach area. With a focus on protecting client assets and creating custom estate plans, we utilize cutting-edge design and advanced planning techniques to ensure efficient estate administration while considering evolving laws and future trends. Our approach to understanding each client's family dynamic allows us to structure estates in the most sensible manner for every circumstance, minimizing taxes, reducing estate administration costs, and streamlining the distribution process.
                </p>
                <div class="cs-quote">
                    <span class="cs-quote-text">
                        Since I was a child, I've believed that you are your own best competition; as a result, I am always striving to outdo myself and deliver the absolute best for my clients.
                    </span>
                    <span class="cs-name">Matthew Hurst</span>
                    <span class="cs-job">Owner/Lead Attorney</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="/assets/svgs/quote-white.svg" alt="quote" width="136" height="77">
                </div>
                <a href="" class="cs-button-solid">Get Free Consultation</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-1712">
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 768px)" srcset="/assets/images/why1.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 769px)" srcset="/assets/images/why1-m.webp">
            <img loading="lazy" decoding="async" src="/assets/images/why1.jpg" alt="business meeting" width="522" height="609" aria-hidden="true">
        </picture>
        <div class="cs-container">
            <div class="cs-wrapper">
                <div class="cs-content">
                    <span class="cs-topper">Getting Started</span>
                    <h2 class="cs-title">Our Streamlined Estate Planning and Trust Administration Process</h2>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-number">01</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Comprehensive Consultation</h3>
                            <p class="cs-item-text">
                                Begin your estate planning journey with a free, in-depth consultation. We will guide you through the process, discussing your family dynamics, assets, and long-term goals to develop a tailored plan that meets your unique needs.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">02</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Customized Estate Plan</h3>
                            <p class="cs-item-text">
                                Based on your consultation, we will craft a personalized estate plan, which may include wills, trust administration and creation, powers of attorney, and healthcare directives. We'll explain each component of your plan and how it contributes to protecting your assets and ensuring your wishes are carried out.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">03</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Plan Implementation</h3>
                            <p class="cs-item-text">
                                Once your estate plan is finalized, we will oversee the proper execution and notarization of all legal documents. We'll also assist with the funding of trusts and the transfer of assets, ensuring your plan is fully implemented and effective.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">04</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Ongoing Maintenance and Trust Administration</h3>
                            <p class="cs-item-text">
                                As your life circumstances change, our firm will be there to update and maintain your estate plan. We'll also provide expert trust administration services, including managing trust assets, distributing funds to beneficiaries, and handling tax and legal requirements, giving you peace of mind knowing your legacy is secure.
                            </p>
                        </div>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">Get Free Consultation</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1640">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Business Law</span>
                <h2 class="cs-title">Incorporating LLC’s, Corporations, and Operating Agreements, Lease Drafting</h2>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 768px)" srcset="/assets/images/about3-m.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 769px)" srcset="/assets/images/about3.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/about3.jpg" alt="people" width="608" height="406">
                </picture>
            </div>
            <div class="cs-stats-group">
                <p class="cs-text">
                    We provide comprehensive business formation services, guiding you through the process of creating a solid legal foundation for your company. Whether you're establishing a limited liability company (LLC), corporation, or another business entity, we'll help you choose the most appropriate structure based on your unique needs and goals.
                </p>
                <p class="cs-text">
                    Our team will draft and file all necessary documents, including articles of incorporation or organization, and create custom operating agreements or bylaws that outline the management structure, ownership rights, and responsibilities of your business. We'll also provide ongoing support as your business grows, offering advice on compliance issues, contract drafting, and other legal matters, ensuring your company is well-positioned for success.
                </p>
                <ul class="cs-stats">
                    <li class="cs-stat">
                        <span class="cs-number">100%</span>
                        <span class="cs-desc">Accurate Filings</span>
                    </li>
                    <li class="cs-stat">
                        <span class="cs-number">500+</span>
                        <span class="cs-desc">Businesses Served</span>
                    </li>
                    <li class="cs-stat">
                        <span class="cs-number">5/5</span>
                        <span class="cs-desc">Client Rating</span>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">Get Free Consultation</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-689">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">Our Services</span>
                    <h2 class="cs-title">Comprehensive Services for Every Stage of Life and Business</h2>
                </div>
                <p class="cs-text">
                    At Bespoke Estate Law, we offer a wide array of services within our four main practice areas to cater to your unique needs at every stage of life and business. Our experienced attorney provides personalized guidance and support, ensuring that your legal matters are handled with the utmost care and professionalism. From creating a robust estate plan to protect your assets and loved ones, to establishing and growing your business, we're here to help you navigate the complexities of the legal landscape.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Revocable Living Trusts</h3>
                        <p class="cs-item-text">
                            Protect your assets, avoid probate, and maintain control over your property during your lifetime with a revocable living trust tailored to your specific needs and goals.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Irrevocable Trusts</h3>
                        <p class="cs-item-text">
                            Safeguard your wealth, minimize estate taxes, and protect your assets from creditors and lawsuits with an irrevocable trust designed to meet your unique circumstances.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Special Needs Trusts</h3>
                        <p class="cs-item-text">
                            Ensure your loved one with special needs is provided for without jeopardizing their eligibility for government benefits through a carefully crafted special needs trust.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">LLC/Corporation Formation</h3>
                        <p class="cs-item-text">
                            Establish a limited liability company (LLC) to protect your personal assets and benefit from flexible management and taxation options, while minimizing your legal risks.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Lease Drafting</h3>
                        <p class="cs-item-text">
                            Create a corporation to limit your personal liability, raise capital through the sale of stock, and establish a formal management structure that aligns with your business objectives.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Contract Drafting and Review</h3>
                        <p class="cs-item-text">
                            Ensure your agreements are legally sound, protect your interests, and minimize potential disputes with our contract drafting and review services tailored to your specific needs.
                        </p>
                    </a>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Get Free Consultation</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->

    <section id="why-choose-1635">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Experienced</span>
                    <h2 class="cs-title">Why Choose Bespoke Estate Law</h2>
                </div>
                <p class="cs-text">
                    Choosing Bespoke Estate Law for your legal needs means partnering with a firm that is dedicated to providing exceptional service, personalized solutions, and unparalleled expertise. Here are three compelling reasons why clients trust us with their most important legal matters:
                </p>
            </div>
            <div class="cs-wrapper">
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" src="/assets/svgs/chat.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Tailored Approach</h3>
                            <p class="cs-item-text">
                                We listen to your unique needs and craft customized legal strategies that align with your goals.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" src="/assets/svgs/call.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Experienced Attorney</h3>
                            <p class="cs-item-text">
                                Our attorney's multi-state experience allows us to provide comprehensive, future-proofed solutions for our clients.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" src="/assets/svgs/money.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Client-Centered Service</h3>
                            <p class="cs-item-text">
                                We prioritize responsive, attentive service and guide you through the legal process with clarity and compassion.
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="cs-image-group">
                    <div class="cs-picture-wrapper">
                        <picture class="cs-picture cs-picture1">
                            <!--Mobile Image-->
                            <source media="(max-width: 1024px)" srcset="/assets/images/why2-m.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 1025px)" srcset="/assets/images/why2.jpg">
                            <img loading="lazy" decoding="async" src="/assets/images/why2.jpg" alt="meeting" width="434" height="414">
                        </picture>
                        <div class="cs-box">
                            <span class="cs-header">Matthew Hurst</span>
                            <span class="cs-desc">Estate Attorney</span>
                        </div>
                    </div>
                    <picture class="cs-picture cs-picture2">
                        <!--Mobile Image-->
                        <source media="(max-width: 1024px)" srcset="/assets/images/why3-m.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 1025px)" srcset="/assets/images/why3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/why3.jpg" alt="on computer" width="197" height="197">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-727">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">What Our Clients Have To Say</h2>
                <p class="cs-text">
                    Our clients appreciate our ability to simplify complex legal concepts, provide prompt updates on their cases, and offer unwavering support throughout the process. Whether we're crafting a comprehensive estate plan, guiding a client through business formation, or administering a trust with diligence and care, our goal is always to achieve the best possible outcome for our clients. Their satisfaction and peace of mind are our ultimate measures of success.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/svgs/quote-blue.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <p class="cs-item-text">
                        Working with Bespoke Estate Law was a game-changer for my family. Their attorney took the time to understand our unique dynamics and created an estate plan that perfectly aligned with our goals. The process was smooth, efficient, and stress-free. I feel confident knowing that our assets are protected and our loved ones will be taken care of. I highly recommend Bespoke Estate Law to anyone seeking top-notch estate planning services.
                    </p>
                    <span class="cs-name">Jennifer M.</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/svgs/quote-blue.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                    <p class="cs-item-text">
                        As a small business owner, I needed legal guidance I could trust. Bespoke Estate Law exceeded my expectations in every way. Their attorney was knowledgeable, responsive, and genuinely invested in the success of my company. They helped me navigate the complexities of business formation, contract drafting, and asset protection with ease. Thanks to their expertise, I can focus on growing my business with confidence, knowing that my legal matters are in capable hands.
                    </p>
                    <span class="cs-name">Thomas R.</span>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-1692">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Call Now</span>
                <h2 class="cs-title">Call Someone You Can Trust, Call Bespoke Estate Law</h2>
                <p class="cs-text">
                    Contact Bespoke Estate Law today for a free consultation. Our experienced attorney will provide personalized guidance to help you achieve your legal goals.
                </p>
                <button class="cs-button-solid cs-submit" type="submit">Get Free Consultation</button>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/cta-m.webp">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="/assets/images/cta-t.jpg">
            <!--Desktop Image-->
            <source media="(min-width: 1025px)" srcset="/assets/images/cta-d.jpg">
            <img src="/assets/images/cta.jpg" loading="lazy" decoding="async" alt="justice scales and gavel" width="522" height="609" aria-hidden="true">
        </picture>
        <img class="cs-graphic cs-graphic-1" src="/assets/svgs/cta-pills.svg" alt="pills" height="196" width="582" loading="lazy" decoding="async">
        <img class="cs-graphic cs-graphic-2" src="/assets/svgs/cta-pills.svg" alt="pills" height="196" width="582" loading="lazy" decoding="async">
    </section>

{% endblock %}